body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #002542;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 60px;
  line-height: 1.15;

}

h2, h3 {
  font-family: Montserrat;
}