footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 10em;
  background-color: #0a0c14;
  color: rgb(121, 142, 171);
  /* align-self: flex-end; */
  margin-top: 2em;
}

footer > h2 {
  font-size: 18px;
}
