.language-control {
  width: max-content;
  padding: 0.4em 1.5em 0.6em 1.5em;
  border-radius: 0 0 1em 1em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #0a0c14;
  position: relative;
  z-index: 5;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  width: fit-content;
  height: fit-content;
  border: none;
  overflow: hidden;
  cursor: pointer;
  padding: none;
}

.icon-button img {
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.icon-button.inactive {
  /* opacity: 0.2; */
  /* resize: ; */
}
