.main-section {
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 3em 0 0 0;
  justify-content: flex-start;
}

.main-section > * {
  align-items: center;
  margin: 1em;
}

.main-section.mobile {
  min-height: 70vh;
  margin: 1em 0;
}

.main-section.browser {
  /* min-height: 26em; */
  /* max-height:  */
  /* height: 80vh; */
  align-items: center;
}

.main-section.browser.first {
  /* min-height: 100vh; */
  justify-content: center;
}
